{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "none",
    "semi": true,
    "printWidth": 100,
    "tabWidth": 4,
    "proseWrap": "preserve",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-organize-imports",
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],

    "svelteBracketNewLine": false,
    "singleAttributePerLine": true,
    "svelteIndentScriptAndStyle": true,
    "svelteAllowShorthand": true,

    "importOrder": ["^$lib/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderMergeDuplicateImports": true
}
