.app-area {
    @apply bg-white p-6;
}
@media screen and (min-width: 768px) {
    .app-area {
        @apply rounded-3xl shadow-lg border-2 border-neutral-200;
    }
}

.content-area {
    @apply bg-white p-6 overflow-y-scroll;
}
@media screen and (min-width: 768px) {
    .content-area {
        @apply rounded-3xl shadow-lg border-2 border-neutral-200;
    }
    .content-area-transparent {
        @apply px-6 py-2;
    }
}